<li>
  <a href="https://math.iastate.edu/profiles/micky-santiago-zayas/" itemprop="sameAs">
    <i class="fas fa-fw fa-briefcase" aria-hidden="true"></i>Iowa State University
  </a>
  <!-- <a href="https://www.purdue.edu" itemprop="sameAs">
    <i class="fas fa-fw fa-briefcase" aria-hidden="true"></i> Purdue University
  </a> -->
  <!-- <a href="https://www.ipam.ucla.edu/programs/student-research-programs/research-in-industrial-projects-for-students-rips-2023-los-angeles/?tab=overview" itemprop="sameAs">
    <i class="fas fa-fw fa-briefcase" aria-hidden="true"></i> RIPS IPAM
  </a> -->
</li>