---
layout: archive
---

<div style="width: 100%; max-width: 800px; height: 250px; margin: 0 auto; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-radius: 5px; overflow: hidden; border: 1px solid #ccc;">
  <img src="/images/Pool Image.JPG" alt="Pool Home Page Image" style="max-height: 100%; width: auto; filter: grayscale(100%);">
  <p style="margin-top: 10px; font-style: italic; margin: 5px; border-radius: 5px;">Courtesy of Jenny Ha</p>
</div>


{% if site.pages | where:"permalink","/about/" | size > 0 %}
  {% assign about_page = site.pages | where:"permalink","/about/" | first %}
  <h1 class="page__title">{{ about_page.title }}</h1>
  {{ about_page.content }}
{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
