---
layout: archive
---

<div style="width: 100%; max-width: 800px; margin: 0 auto; display: block;">
  <img src="/images/Pool Image.JPG" alt="Pool Home Page Image" style="width: 100%; filter: grayscale(100%);">
</div>

{% if site.pages | where:"permalink","/about/" | size > 0 %}
  {% assign about_page = site.pages | where:"permalink","/about/" | first %}
  <h1 class="page__title">{{ about_page.title }}</h1>
  {{ about_page.content }}
{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
